<!DOCTYPE html>
<html>
  <head>
    <%- include('./partials/head') %>
    <title>BookEden: <%= selectedProduct.title %></title>
    <link rel='stylesheet' href='/stylesheets/productDetail.css' />
  </head>

  <body>
    <div class="container">
      <%- include('./partials/header') %>
      <div class="row">
        <div class="col-12 col-md-3">
          <img src="/images/products/<%= selectedProduct.avatar %>" alt="Producto" class="product-image">
        </div>
        <div id="book-description product-title" class="col-12 col-md-6">
          <h2 class="book-title"><%= selectedProduct.title %></h2>
          <br>
          <!-- no estoy seguro si el forma correcat lo del autor creo que deberia funcionar solo con association -->
          <p style="margin-left: 10px;"><b>Autor: <%=selectedProduct.Authors.name  %> </b></p>
          <p style="margin-left: 10px;"><b>Editorial: <%=selectedProduct.publisher.name%> </b></p>
          <br>
          <% var descriptionComplete = selectedProduct.description %>
          <% var descriptionPartOne = descriptionComplete.slice(0, 399); %>
          <% var descriptionPartTwo = descriptionComplete.slice(399, descriptionComplete.length); %>
          <div class="card card-body">
            <%= descriptionPartOne %>
            <div class="collapse" id="collapseExample">
              <%= descriptionPartTwo %>
            </div>
          </div>
          <br>
          <a class="btn btn-primary" data-toggle="collapse" href="#collapseExample" role="button" aria-expanded="false" aria-controls="collapseExample">
            Leer mas
          </a>
          

        </div>
        <div class="col-12 col-md-3 text-center">
          <h2>¡Compartelo en tus redes sociales!</h2>
          <div class="redes">
              <a href=""><i class="fab fa-facebook-square"></i></a>
              <a href=""><i class="fab fa-twitter-square"></i></a>
              <a href=""><i class="fab fa-instagram-square"></i></a>
              <a href=""><i class="fab fa-pinterest-square"></i></a>                    
          </div>
          <% let price = Math.round(selectedProduct.price) %>
          <h3>$<%= price %></h3>
          <h5>COSTOS DE ENVIO: ¡GRATIS!</h5>
          
          <!-- VALIDAMOS SI EL USUARIO ESTÁ DEFINIDO, SI ES ADMIN O NO -->

          <!-- USUARIO INDEFINIDO -->
          <% if(userLogged == undefined) { %>
          <form action="/cart" method="POST">
              <label for="cantidad" class="cantidad">Cantidad </label>
              <select name="quantity" id="cantidad">
                <option value="1">1</option>
                <option value="2">2</option>
                <option value="3">3</option>
              </select>
            <button type="submit" class="btn btn-success" name="book" value="<%= selectedProduct.id %>">COMPRAR</button>
          </form>

          <!-- SI ESTÁ DEFINIDO Y ES ADMIN -->
          <% } else if (userLogged.isAdmin == 1) { %>
            <a href="/products/edit/<%= selectedProduct.id %>" class="btn btn-warning">EDITAR</a>
            <br>
            <form action="/products/delete/<%= selectedProduct.id %>?_method=DELETE" method="POST">
              <button type="submit" class="btn btn-danger">ELIMINAR</button>
            </form>

          <!-- SI ESTÁ DEFINIDO Y NO ES ADMIN -->
          <% } else { %>
            <form action="/cart" method="POST">
              <label for="cantidad" class="cantidad">Cantidad </label>
              <select name="quantity" id="cantidad">
                <option value="1">1</option>
                <option value="2">2</option>
                <option value="3">3</option>
              </select>
            <button type="submit" class="btn btn-success" name="book" value="<%= selectedProduct.id %>">COMPRAR</button>
          </form>

        <% } %>
 
        </div>
      </div>
      <div class="row" style="margin-top: 30px;">
        <div class="text-center col-12" col-md-8"">
          <label for="comment">Ingrese su comentario</label>
          <textarea name="comment" class="form-control" rows="3"></textarea>
        </div>
        <div class="text-center col-12 col-md-12">
          <button type="submit" class="btn btn-primary">Enviar</button>
        </div>
      </div>
      <div class="col-12 text-center">
        <h5><i>Juan Pérez</i> ha comentado:</h5>
        <p>Me ha encantado el libro! Podría haber sido un poco mas largo, pero muy recomendable! El producto llego en tiempo y forma, Impecable!</p>
        <h5><i>Caterina</i> ha comentado:</h5>
        <p>No soy aficionada a los libros de ciencia ficcion, pero este es muy recomendable!</p>
      </div>
      <%- include('./partials/footer') %>
    </div>
  </body>
  
</html>