<!DOCTYPE html>
<html lang="en">
<head>
       <!--AQUÍ ESTÁ EL HEAD-->
    <%- include('./partials/head') %>
    <title><%= title %> </title>
</head>

<body>

<div class="container">
    <!--AQUÍ ESTÁ EL HEADER-->
    <%- include('./partials/header') %>
    <!--AQUÍ ESTÁ EL CENTRO-->
    <div class="d-flex flex-column-reverse flex-lg-row flex-xl-row">
    <!--AQUÍ ESTÁ EL ASIDE-->
        <div class="d-flex flex-column flex-md-row flex-lg-column columna-izquierda">

            <div class="izquierda d-flex flex-column flex-md-column">
                <div class="categorias align-items-center">
                    <h2 class="">Destacado</h2>
                </div>
        
                <aside class="products d-flex justify-content-center">
                    <% destacado.forEach(element => { %>
                        <article class="izq-art d-flex flex-column align-items-center">
                            <img src="/images/products/<%= element.avatar %> " alt="<%= element.title %> ">
                            <p class="autor"><%= element.Authors.name %> </p>
                        </article>
                    <% }) %> 

                </aside>
            </div>

            <div class="izquierda d-flex flex-column flex-md-column">
                <div class="categorias align-items-center">
                    <h2 class="">Bestsellers por idioma</h2>
                </div>
        
                <aside class="products d-flex justify-content-center">
                    <article class="izq-art d-flex flex-column">
                        <img class="align-self-center" src="/images/idiomas.jpg" alt="">
                        <div class="sub-categorias">
                            <ul>
                                <li><a href="">Libros en inglés</a></li>
                                <li><a href="">Libros en español</a></li>
                                <li><a href="">Libros en francés</a></li>
                                <li><a href="">Libros en alemán</a></li>
                            </ul>                              
                        </div>
                    </article>
                </aside>
            </div>

            <div class="izquierda d-flex flex-column flex-md-column">
                <div class="categorias align-items-center">
                    <h2 class="">Lista de "Mejores libros"</h2>
                </div>
        
                <aside class="products d-flex justify-content-center">
                    <article class="izq-art-3 d-flex flex-column">
                        <div class="sub-categorias">
                            <ul>
                                <li><a href="">Mejores libros del mundo</a></li>
                                <li><a href="">Mejores libros de cocina</a></li>
                                <li><a href="">Mejores libros de terror</a></li>
                                <li><a href="">Mejores libros de romance</a></li>
                            </ul>                              
                        </div>
                    </article>
                </aside>
            </div>     

        </div>
        <!--FIN DEL ASIDE-->

        <!--AQUÍ ESTÁ EL SECTIÓN-->
        <div class="d-flex flex-column">
            <div class="d-flex justify-content-center banner">
                <img class="" src="/images/banner2.png" alt="">
            </div>
    
            <div class="categorias align-items-center">
                <h2 class="">Últimas novedades</h2>
            </div>

            <section class="products d-flex flex-wrap justify-content-center">
            <!--AQUÍ ESTÁ FOREACH-->
                <% novedades.forEach(novedad => { %>
                    <article class="product-des d-flex flex-column align-items-center justify-content-center">
                        <a href="/products/detail/<%= novedad.id %> "><img src="/images/products/<%= novedad.avatar %> " alt="<%= novedad.title %> "></a>
                        <p class="titulo"><%= novedad.title %> </p>
                        <p class="autor"><%= autores[novedad.author_id].name %> </p>
                        <% let precioFinal = Math.round(novedad.price) %>
                        <p class="precio">ARS$ <%= precioFinal%> </p>
                        <button type="button" class="btn btn-warning"><a href="/products/detail/<%= novedad.id %> ">Leer más</a></button>
                    </article>
                    <% }) %> 
            </section>
    
            <div class="categorias align-items-center">
                <h2 class="">Mejor vendidos</h2>
            </div>
    
            <section class="products d-flex flex-wrap justify-content-center">
            <!--AQUÍ ESTÁ FOREACH-->
            <% bestselling.forEach(element => { %>
                <article class="product-des d-flex flex-column align-items-center justify-content-center">
                    <a href="/products/detail/<%= element.id %> "><img src="/images/products/<%= element.avatar %>" alt="<%= element.title %>"></a>
                    <p class="titulo"><%= element.title %> </p>
                    <!-- ver bloc de notas de como estaba antes los autoressss -->
                    <p class="autor"><%= autores[element.author_id].name %> </p>  
                    <% let precioFinal = Math.round(element.price) %> 
                    <p class="precio">ARS$ <%= precioFinal%> </p>
                   <button type="button" class="btn btn-warning"><a href="/products/detail/<%= element.id %>">Leer más</a></button> 
                </article>
            <% }) %>

            </section>
    
            <div class="categorias align-items-center">
                <h2 class="">Libros destacados en español</h2>
            </div>
    
            <section class="products d-flex flex-wrap justify-content-center">
            <!--AQUÍ ESTÁ FOREACH-->
            <% popularSpanish.forEach(element => { %>
                <article class="product-des d-flex flex-column align-items-center justify-content-center">
                    <a href="/products/detail/<%= element.id %> "><img src="/images/products/<%= element.avatar %>" alt="<%= element.title %> "></a>
                    <p class="titulo"><%= element.title %> </p>
                    <p class="autor"><%= autores[element.author_id] %></p>
                    <% let precioFinal = Math.round(element.price) %> 
                    <p class="precio">ARS$ <%= precioFinal%> </p>
                    <button type="button" class="btn btn-warning"><a href="/products/detail/<%= element.id %>">Leer más</a></button> 
                </article>
            <% }) %>

            </section>
        </div>
        <!--FIN DEL SECTION-->
    </div>
    
    <%- include('./partials/footer') %>
<!-------AQUÍ ESTÁ EL FOOTER--------->
</div>
</body>
</html>
