<!DOCTYPE html>
<html>

<head>
  <%- include('./partials/head') %>
  <link rel='stylesheet' href='/stylesheets/payment.css' />
</head>

<body>

  <div class="container">
    <%- include('partials/header.ejs', {userLogged}) %>

    <div class="d-flex flex-column align-items-center justify-content-between">

 
      <div class="d-flex flex-column flex-lg-row justify-content-around info-profile">

        <!-- CAJA IZQUIERDA -->
          <div class="d-flex flex-column info-user">
              <h2 class="info-title">Rellena los datos para este pedido</h2>
              <p>Correo Electrónico<span>*</span> </p>
              <input type="text">
              <p class="mensaje">Lo necesitamos para enviarte la infomación de tu pedido</p>
              <hr>
              <h2 class="info-title">1. Dirección de Entrega</h2>
              <p>Nombre completo<span>*</span></p>
              <input type="text">
              <p class="mensaje">Nombre Completo. Por ejemplo: Pedro Pérez</p>
              <p>País de entrega<span>*</span></p>
              <p>Dirección de envío</p>
              <input type="text">
              <hr>
              <h2 class="info-title">2. Dirección de Facturación</h2>
              <div class="form-check">
                <input class="form-check-input" type="radio" name="gridRadios" id="gridRadios1" value="option1" checked>
                <label class="form-check-label" for="gridRadios1">
                  Igual a la dirección de entrega
                </label>
              </div>
              <div class="form-check">
                <input class="form-check-input" type="radio" name="gridRadios" id="gridRadios2" value="option2">
                <label class="form-check-label" for="gridRadios2">
                  Diferente a la dirección de entrega
                </label>
              </div>
              <hr>

          </div>
  
          <!-- CAJA DERECHA -->
          <div class="d-flex flex-column info-compra">
            <!-- TITULO -->
            <div class="d-flex flex-column info-payment">
              <h2>Resumen del Pedido</h2>
              <div class="d-flex justify-content-between">
                <h4 class="info-payment-left"><i class="fas fa-shopping-basket"></i> <%= quantity %>  artículo</h4>
                <h4 class="info-payment-right"> ARS$ <%= total %> </h4>
              </div>
            </div>
            <!-- COMPRA --> 
            <div class="d-flex flex-column compra">
              <!-- LIBROS --> 
              <div class="d-flex justify-content-between bookPrice">
                <div class="book">libro</div>
                <div class="price">Precio</div>
              </div>
              <!-- SUBTOTAL --> 
              <div class="d-flex justify-content-between bookPrice">
                <div class="sub">SUBTOTAL</div>
                <div class="price">MONTO</div>
              </div>
              <!-- ENVÍO --> 
              <div class="d-flex justify-content-between bookPrice">
                <div class="sub">Envío</div>
                <div class="gratis">GRATIS</div>
              </div>
              <div class="d-flex justify-content-between bookPrice">
                <div class="sub">Total</div>
                <div class="total">ARS$ TOTAL</div>
              </div>
                
            </div>
          </div>
      </div>
      <form action="/cart/paymnet" method="POST">
      <button type="submit" class="btn btn-success" name="cartId" value="<%=carritoId  %>">Finalizar Compra</button>
    </form>
    </div>

    <%- include('./partials/footer') %>


  </div>
</body>

</html>