<!DOCTYPE html>
<html lang="en">
<head>
       <!--AQUÍ ESTÁ EL HEAD-->
    <%- include('./partials/head') %>
    <link rel="stylesheet" href="/stylesheets/products.css">
    <title><%= title %> </title>
</head>

<body>

<div class="container">
        <!--AQUÍ ESTÁ EL HEADER-->
    <%- include('./partials/header') %>
    <!--AQUÍ ESTÁ EL CENTRO-->
    <div class="d-flex">
        <!--AQUÍ ESTÁ EL SECTIÓN-->

            <section class="products d-flex flex-wrap justify-content-center">
            <!--AQUÍ ESTÁ FOREACH-->
                <% books.forEach(book => { %>
                    <article class="product-des d-flex flex-column align-items-center">
                        <a href="/products/detail/<%= book.id %> "><img src="/images/products/<%= book.avatar %> " alt="<%= book.title %> "></a>
                        <p class="titulo"><%= book.title %> </p>
                        <p class="autor"><%= book.author %> </p>
                        <% let precioFinal = Math.round(book.price) %> 
                        <p class="precio"> ARS$<%= precioFinal%> </p>
                        <button type="button" class="btn btn-warning"><a href="/products/detail/<%=book.id%> ">Leer mas</a></button>
                    </article>
                    <% }) %> 
            </section>
    
           
        </div>
    </div>
    <%- include('./partials/footer') %>
<!-------AQUÍ ESTÁ EL FOOTER--------->
</div>
</body>
</html>