<!DOCTYPE html>
<html lang="en">
<head>
       <!--AQUÍ ESTÁ EL HEAD-->
    <%- include('./partials/head') %>
    <link rel="stylesheet" href="/stylesheets/products.css">
    <title><%= title %> </title>
</head>

<body>

<div class="container">
        <!--AQUÍ ESTÁ EL HEADER-->
    <%- include('./partials/header') %>
    <!--AQUÍ ESTÁ EL CENTRO-->
    <div class="d-flex">
        <!--AQUÍ ESTÁ EL SECTIÓN-->

            <section class="products d-flex flex-wrap justify-content-center">
            <!--AQUÍ ESTÁ FOREACH-->
                <% products.forEach(product => { %>
                    <article class="product-des d-flex flex-column align-items-center">
                        <a href="/products/detail/<%= product.id %> "><img src="/images/products/<%= product.image %> " alt="<%= product.title %> "></a>
                        <p class="titulo"><%= product.title %> </p>
                        <p class="autor"><%= product.author %> </p>
                        <% let precioFinal = Math.round(product.price) %> 
                        <p class="precio"> ARS$<%= precioFinal%> </p>
                        <button type="button" class="btn btn-warning"><a href="/carrito">Añadir al carrito</a></button>
                    </article>
                    <% }) %> 
            </section>
    
           
        </div>
    </div>
    <%- include('./partials/footer') %>
<!-------AQUÍ ESTÁ EL FOOTER--------->
</div>
</body>
</html>