<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <%-include('partials/head')  %>

    <link rel="stylesheet" href="/stylesheets/productAdd.css">
    <title> <%= title %>  </title>
</head>
<body>
    <div class="container">
    <%-include('partials/header')  %>
    <div class="back">
        <div class="container products-wrapper ">
            <div class="row">
                <div class="col-12">
                    <h2 class="products-title">Ingrese Datos del producto</h2>
                </div>
            </div>
            <div class="errores col-8 offset-2 text-left">
                <h6></h6>
                <ul></ul>
            </div>
           <div class="color border">
            <div class="col-12 ">
                <form action="/products/create" id="form-create" method="POST" enctype="multipart/form-data">
                    <div class="row product-detail">
                        <div class="col-12 col-md-6 color">
                            <label for="title" class="form-label">Titulo<span class="oblig">(obligatorio)</span> </label>
                            <input type="text" id="title" name="title" placeholder="Ej: El Hobbit" class="form-input">
                            
                        </div>
                        
                        <div class="col-12 col-md-6 color">
                            <label for="author" class="form-label">Autor<span class="oblig">(obligatorio)</span></label>
                            <select name="author" id="author" class=" title form-input">
                                <%for (let i = 0; i < autores.length; i++) {%>
                                    <option value="<%=autores[i].id%>">
                                    <%=autores[i].name%>
                                    </option>
                                <%}  %>  
                            </select>
                        </div>
                        <div class="col-12 col-md-6 color">
                            <label for="price" class="form-label">Precio<span class="oblig">(obligatorio)</span></label>
                            <input type="text" id="price" name="price" placeholder="Ej: 1000" class="form-input">
                        </div>
                        <div class="col-12 col-md-6 color">
                            <label for="discount" class="form-label">Descuento<span class="oblig">(No obligatorio)</span></label>
                            <input type="text" id="discount" name="discount" placeholder="Ej: 50" class="form-input">
                        </div>
                        <div class="col-12 col-md-6 color">
                            <label for="lenguage" class="form-label">Idioma<span class="oblig">(obligatorio)</span></label>
                            <select name="lenguage" id="lenguage" class="form-input">
                                <%for (let i = 0; i < idiomas.length; i++) {%>
                                    <option value="<%=idiomas[i].id%>">
                                    <%=idiomas[i].language%>
                                    </option>
                                <%}  %>  
                            </select>
                        </div>
                        <div class="col-12 col-md-6 color">
                            <label for="date" class="form-label">Fecha de Publicación<span class="oblig">(obligatorio)</span></label>
                            <input type="date" id="date" name="date" placeholder="Ej: 04-may-01" class="form-input">
                        </div>
                        <div class="col-12 col-md-6 color">
                            <label for="format" class="form-label">Formato<span class="oblig">(obligatorio)</span></label>
                            <select name="format" id="format" class="form-input">
                                <%for (let i = 0; i < formatos.length; i++) {%>
                                    <option value="<%=formatos[i].id%>">
                                    <%=formatos[i].type%>
                                    </option>
                                <%}  %>  
                            </select>
                        </div>
                        <div class="col-12 col-md-6 color">
                            <label for="genre" class="form-label">Genero<span class="oblig">(obligatorio)</span></label>
                            <select name="genre" id="genre" class="form-input">
                                <%for (let i = 0; i < generos.length; i++) {%>
                                    <option value="<%=generos[i].id%>">
                                    <%=generos[i].name%>
                                    </option>
                                <%}  %>  
                            </select>
                        </div>
                      
                        <div class="col-12 col-md-6 color">
                            <label for="category" class="form-label">Categoría<span class="oblig">(obligatorio)</span></label>
                            <select name="category" id="category" class="form-input">
                                <%for (let i = 0; i < categorias.length; i++) {%>
                                    <option value="<%=categorias[i].id%>">
                                    <%=categorias[i].name%>
                                    </option>
                                <%}  %>    
                            </select>
                        </div>
                        <div class="col-12 col-md-6 color">
                            <label for="format" class="form-label">Editorial<span class="oblig">(obligatorio)</span></label>
                            <select name="publisher" id="publisher" class="form-input">
                                <%for (let i = 0; i < editorial.length; i++) {%>
                                    <option value="<%=editorial[i].id%>">
                                    <%=editorial[i].name%>
                                    </option>
                                <%}  %>  
                            </select>
                        </div>
                        <div class="col-12 col-md-6 ">
                           <label for="image" class="form-label" >Agregar Imagen<span class="oblig">(obligatorio)</span></label>
                           <input type="file" id='image' name='image' style="width: 100%"> 
                        </div>
                        <div class="col-12 color">
                            <label for="description" class="form-label">Descripción<span class="oblig">(No obligatorio)</span></label>
                            <textarea name="description" id="description" class="form-input"></textarea>
                        </div>
                            
                         
                          
                        <div class="col-12  color align">
                            <button type="submit" class="">Guardar producto</button>
                        </div>
                    </div>
                </form>
            </div>
           </div>





        </div>

        <%-include('partials/footer')  %>
    </div>
</div>






<script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
    
</body>
<script src="/javascripts/validationCreate.js"></script> 
</html>