<!DOCTYPE html>
<html lang="en">
<head>
       <!--AQUÍ ESTÁ EL HEAD-->
    <%- include('./partials/head') %>
    <link rel="stylesheet" href="/stylesheets/profile.css">
    <title>Perfil</title>
</head>

<body>

<div class="container">
<!--AQUÍ ESTÁ EL HEADER-->
    <%- include('./partials/header', {userLogged})%>

    <div class="d-flex flex-column align-items-center flex-lg-row justify-content-around">

        <div class="d-flex flex-column align-items-center profile">
            <h2 class="profile-title">Mi Cuenta <%=userLogged.name%> </h2>
            <div class="avatar d-flex justify-content-center ">
                <img src="/images/avatars/<%=userLogged.avatar %>" alt="no funca">
            </div>
            <form action="/users/delete/<%=userLogged.id%>?_method=DELETE" method="POST">
                <button type="submit" class="btn btn-danger">ELIMINAR</button>
              </form>
              <a href="/users/edit/<%=userLogged.id  %>" class="btn btn-warning">EDITAR</a>
        </div>
    
        <div class="d-flex flex-column flex-lg-row justify-content-around info-profile">
            <div class="d-flex flex-column info-menu">
                <h2 class="info-title">Datos Personales</h2>
                <ul>
                    <li>Nombre, correo electrónico, contraseña</li>
                    <li>Preferencias de comunicación</li>
                    <li>Opciones de pago</li>
                    <li>Direcciones</li>
                    <li>Lista de deseos</li>
                </ul>
            </div>
    
            <div class="d-flex flex-column info-menu">
                <h2 class="info-title">Pedidos</h2>
                <ul>
                    <li>Historial de pedidos</li>
                    <li>Mis pedidos</li>
                    <li>Cancelación de pedidos y devoluciones</li>
                </ul>
            </div>
        </div>

    </div>





<%- include('./partials/footer') %>
<!-------AQUÍ ESTÁ EL FOOTER--------->
</div>
</body>
</html>
